.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333; /* Color de fondo */
    color: white;
    font-size: 14px;
  }
  
  .footer-section {
    text-align: center;
  }
  
  .footer-section i {
    font-size: 20px;
    margin: 0 0.5rem;
    cursor: pointer;
  }
  
  .footer-section i:hover {
    color: #ddd; /* Efecto hover */
  }
  